*.dSYM
build
main
run_tests
.DS_Store
output
coverage_report
*.info
html
site
linux*
osx*
win*
*.bak
*.yaml
*.yml
*.tex
*.vscode
*.so
*.out
__pycache__
*.html
*.json
conda/noarch
conda/osx-arm64
noarch
osx-arm64
*.idx
*.json
.cache
*.bcf
*.aux
*.fdb_latexmk
*.fls *.log
*.pdf
*.xml
*.gz
